[Desktop Entry]
Name=Pop!_Shop NonAdmin
Comment[ak]=Hwehwɛ dwumadie a wopɛ.
Comment[ar]=ادارة التطبيقات
Comment[az]=Proqramları gözdən keçir və idarə et
Comment[bg]=Разглеждане и управляване на програми
Comment[bs]=Pregledaj aplikacije i upravljaj njima
Comment[ca]=Navegueu i gestioneu les aplicacions.
Comment[ckb]=گەڕان و بەڕێوەبردنی نەرمەواڵەکان
Comment[cs]=Procházejte a spravujte aplikace
Comment[da]=Gennemse og administrer apps
Comment[de]=Apps durchsuchen und verwalten
Comment[el]=Περιήγηση και διαχείριση εφαρμογών
Comment[en_CA]=Browse and manage apps
Comment[en_GB]=Browse and manage apps
Comment[eo]=Esplori kaj mastrumi aplikaĵojn
Comment[es]=Explorar y gestionar aplicaciones
Comment[et]=Rakenduste sirvimine ja haldamine
Comment[fa]=برنامک‌ها را مرور و مدیریت کنید
Comment[fi]=Selaa ja hallitse sovelluksia
Comment[fr]=Parcourir et gérer les applications
Comment[fr_CA]=Parcourir et gérer les applications
Comment[gl]=Explore e xestione aplicacións
Comment[he]=עיון ביישומים וניהולם
Comment[hi]=एप्लिकेशन ब्राउज़ करें और प्रबंधित करें
Comment[hr]=Pregledavajte i upravljajte aplikacijama
Comment[hu]=Alkalmazások tallózása és kezelése
Comment[id]=Jelajahi dan kelola aplikasi
Comment[it]=Esplora e gestisci le applicazioni
Comment[ja]=アプリを検索したり管理したりします
Comment[ko]=앱 검색과 관리
Comment[ku]=bername lê begerrîn û bi rê ve birin
Comment[lt]=Naršyti ir tvarkyti programas
Comment[mo]=Căutați și gestionați aplicații
Comment[mr]=ब्राउझ करा आणि अॅप्स व्यवस्थापित करा
Comment[ms]=Mencari dan mengurusi applikasi
Comment[my]=App များကို ရှာဖွေ စုစည်းရန်
Comment[nb]=Bla gjennom og administrer apper
Comment[nl]=Doorzoek en beheer applicaties
Comment[nn]=Bla gjennom og behandle appar
Comment[pl]=Przeglądaj i zarządzaj programami
Comment[pt]=Procurar e gerir aplicações
Comment[pt_BR]=Navegue e gerencie aplicativos
Comment[ro]=Navighează și administrează aplicațiile
Comment[ru]=Просмотр и управление приложениями
Comment[sk]=Prehľadávať aplikácie
Comment[sl]=Iskanje in upravljanje s programi
Comment[sq]=Shfleto dhe menaxho programet
Comment[sr]=Разгледајте и управљајте програмима
Comment[sv]=Bläddra och hantera appar
Comment[ta]=மென்பொருள் உலாவுதல் மற்றும் நிர்வகித்தல்
Comment[th]=ดูและจัดการแอปพลิเคชัน
Comment[tl]=Mag-browse at mag-manage ng mga app
Comment[tr]=Uygulamalara göz atın ve yönetin
Comment[ug]=ئەپلەرنى كۆرۈش ۋە باشقۇرۇش
Comment[uk]=Керуйте та переглядайте застосунки
Comment[uz]=Ilovalarni ko'rish va boshqarish
Comment[vi]=Duyệt và quản lý ứng dụng
Comment[zh]=浏览和管理应用
Comment[zh_CN]=浏览和管理应用程序
Comment[zh_TW]=瀏覽和管理軟體
Comment=Browse and manage apps
Exec=io.elementary.appcenter %U
Icon=io.elementary.appcenter
Keywords[ar]=تثبيت;ازالة تثبيت;حذف;التصنيف;المتجر:التطبيقات;برامج;
Keywords[ca]=instal·la;desinstal·la;suprimeix;catàleg;botiga;aplicacions;programari;
Keywords[cs]=instalovat;odinstalovat;odstranit;katalog;obchod;aplikace;software;
Keywords[da]=installer;afinstaller;fjern;katalog;butik;apps;opdateringer;software;
Keywords[de]=installieren;deinstallieren;entfernen;Apps;Anwendungen;Software;
Keywords[en_GB]=install;uninstall;remove;catalogue;store;apps;software;
Keywords[eo]=instali;malinstali;forigi;katalogo;vendejo;aplikaĵoj;ĝisdatigoj;programoj;
Keywords[es]=instalar;desinstalar;eliminar;catálogo;tienda;aplicaciones;software;
Keywords[fr]=installer;désinstaller;supprimer;catalogue;magasin;boutique;logithèque;applications;logiciel;programme;
Keywords[he]=install;uninstall;remove;catalogue;store;apps;updates;software;תכנה;התקנה;קטלוג;עדכון;עדכונים;הסרה;יישומים;יישום;חנות;
Keywords[id]=pasang;copot pemasangan;hapus;katalog;toko;aplikasi;perangkat lunak;
Keywords[it]=installa;disinstalla;rimuovi;catalogo;negozio;applicazioni;programmi;aggiornamenti; software;app;
Keywords[ja]=install;uninstall;remove;catalogue;store;apps;software;インストール;アンインストール;削除;カタログ;ストア;アプリ;ソフトウェア;
Keywords[mr]=इन्स्टॉल; अनइन्स्टॉल; काढणे; कॅटलॉग; स्टोअर; अॅप्स; सॉफ्टवेअर;
Keywords[nl]=installeren;deïnstalleren;verwijderen;catalogus;winkel;applicaties;software;updates;
Keywords[pl]=instaluj;odinstaluj;usuń;katalog;sklep;programy;aplikacje;aktualizacje;oprogramowanie;
Keywords[pt]=instalar;desinstalar;remover;catalogar;armazenar;aplicações;atualizações;software;
Keywords[pt_BR]=instalar;desinstalar;remover;catalogar;loja;aplicativos;software;
Keywords[sl]=namesti;odstrani;instaliraj;inštaliraj;katalog;trgovina;aplikacije;programi;install;uninstall;remove;catalogue;store;apps;software;
Keywords[sr]=инсталирај;дизинсталирај;уклони;збирка;радња;програми;софтвер;
Keywords[tr]=yükle;kaldır;sil;katalog;mağaza;uygulamalar;yazılım;install;uninstall;remove;catalogue;store;apps;software;
Keywords[uk]=встановити;вилучити;видалити;каталог;магазин;застосунки;оновлення;програми;
Keywords[zh_CN]=安装;卸载;移除;分类;商店;应用;软件;
Keywords=install;uninstall;remove;catalogue;store;apps;software;
Actions=ShowUpdates;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;PackageManager;
MimeType=x-scheme-handler/appstream;
X-GNOME-UsesNotifications=true

[Desktop Action ShowUpdates]
Exec=io.elementary.appcenter --show-updates
Name[ar]=افحص وجود تحديثات
Name[bs]=Provjeri ima li ažuriranja
Name[ca]=Comprova si hi ha actualitzacions
Name[cs]=Zkontrolovat aktualizace
Name[da]=Søg efter Opdateringer
Name[de]=Nach Updates suchen
Name[en_GB]=Check for Updates
Name[eo]=Kontroli pri Ĝisdatigoj
Name[es]=Buscar actualizaciones
Name[fa]=بررسی برای بروزرسانی
Name[fi]=Tarkista päivitykset
Name[fr]=Vérifier les mises à jour
Name[fr_CA]=Rechercher des mises à jour
Name[gl]=Comprobar Actualizacións
Name[he]=חיפוש עדכונים
Name[hi]=अपडेट के लिये जांचें
Name[hu]=Frissítések keresése
Name[id]=Memeriksa Pembaruan
Name[it]=Controlla aggiornamenti
Name[ja]=アップデートを確認
Name[ko]=업데이트 확인
Name[lt]=Tikrinti ar yra atnaujinimų
Name[mr]=अपडेट्ससाठी तपासा
Name[ms]=Mencari untuk kemas kini
Name[nb]=Se etter oppgraderinger
Name[nl]=Controleer op updates
Name[nn]=Sjå etter oppgraderingar
Name[pl]=Sprawdź aktualizacje
Name[pt]=Procurar por atualizações
Name[pt_BR]=Verificar por Atualizações
Name[ro]=Verifică pentru actualizări
Name[ru]=Проверить наличие обновлений
Name[sk]=Kontrola aktualizácií
Name[sl]=Preveri za posodobitve
Name[sr]=Потражи освежења
Name[sv]=Sök efter uppdateringar
Name[th]=ตรวจสอบการอัปเดต
Name[tr]=Güncellemeleri Denetle
Name[uk]=Перевірка наявності оновлень
Name[zh]=检查更新
Name[zh_CN]=检查更新
Name[zh_TW]=檢查更新
Name=Check for Updates
Icon=system-software-update
